body {
    font-family: “Playfair Display”, “Didot”, "Times New Roman", Times, serif;

    color: #1d1613;

    background-color: #dbd0bf;

    scroll-behavior: smooth;
    overscroll-behavior: none;
}

a {
    color: #1d1613;
    text-decoration: none;
}

a:hover {
    color: rgb(68, 68, 68);
}

nav.navbar {
    background-color: #ebebeb;
    animation: navBarColor1 1s ease;
}

nav.navbar:hover {
    background-color: #dbd0bf;
    animation: navBarColor 1s ease;
}

@keyframes navBarColor {
    from {
        background-color: #ebebeb;
    }

    to {
        background-color: #dbd0bf;
        ;
    }
}

@keyframes navBarColor1 {
    from {
        background-color: #dbd0bf;
    }

    to {
        background-color: #ebebeb;
    }
}

nav img {
    width: 50px;
    transition: width 0.5s ease;

    margin-right: 10px;
}

nav.navbar img:hover {
    width: 75px;
}

div#surround {
    width: 100vw;
    height: 100vh;

    background-color: #0000005e;

    z-index: 10;
    display: none;

    position: fixed;
}

div#warranty {

    padding: 10px;
    width: 70vw;
    display: none;
    opacity: 0;
    transition: opacity ease 1s;
    position: fixed;
    transform: translate(15vw, 15vh);
    text-align: center;
    background-color: #d7f3f3;
    z-index: 11;
    border-radius: 15px;

}

div#warrantyText {
    padding: 15px;
    margin: 10px;
    text-align: justify;
    background-color: #ffffff3d;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 5px lightsteelblue;
}


div#mainContent {
    display: grid;
    justify-items: center;

    margin-top: 50px;
}

div#welcome {

    padding: 25px;

    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    width: 100%;

    background-color: rgb(219 208 191);

}

div#welcome div#welcomeText {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 47vw;
    transition: width 0.5s ease;
}

div#welcome div#welcomeText h1 {

    width: 100%;
}

div#welcome div#welcomeText p {
    text-align: center;
}

div#welcome div#imageHolder {
    width: 45vw;
    height: 45vw;
    padding-top: 35px;
    padding-left: 45px;
    transition: width 0.5s ease;

    display: flex;
    justify-content: start;

    overflow: hidden;

    position: relative;
}

div#welcome div#imageHolder:hover {
    width: 60vw;
}

#imageHolder:hover ~ #welcomeText {
    width: 35vw;
}

div#welcome div#intro {
    padding-top: 25px;
    padding-bottom: 10px;
    margin-top: 25px;


}

div#welcome div#imageHolder img {
    max-width: 75vw;

    position: absolute;
}

div#footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: max-content;
    justify-content: space-evenly;
    background-color: rgb(235, 235, 235);

    margin-top: 25px;
}

div#about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;

    background-color: #8294b3;
}

div#about img {
    width: 100%;
}

div#about div#aboutImg {
    width: 30vw;
    transition: width 0.5s ease;
}

div#about div#aboutImg:hover {
    width: 35.4vw;
}

div#about div#aboutText {
    width: 50vw;

    transition: width 0.5s ease;
}

#aboutImg:hover ~ #aboutText {
    width: 42vw;
}

div#about div {
    padding: 20px;
}

div#about div h2,
h3 {
    text-align: center;
}

div#service {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    margin-top: 25px;

    background-color: #c19a85;
}

div#service img {
    width: 100%;
}

div#service div#serviceImg {
    width: 30vw;
    transition: width 0.5s ease;
}

div#service div#serviceImg:hover {
    width: 35.4vw;
}

div#service div#serviceText {
    width: 50vw;

    transition: width 0.5s ease;
}

#serviceImg:hover ~ #serviceText {
    width: 42vw;
}

div#service div {
    padding: 20px;
}

div#service div h2 {
    text-align: center;
}

div#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 25px;

    background-color: rgb(240, 240, 240);
}

div#contact img {
    width: 100%;
}

div#contact div#contactImg {
    width: 30vw;
    transition: width 0.5s ease;
}

div#contact div#contactImg:hover {
    width: 35.4vw;
}

div#contact div#contactText {
    width: 50vw;

    transition: width 0.5s ease;
}

#contactImg:hover ~ #contactText {
    width: 42vw;
}

div#contact div {
    padding: 20px;
}

div#contact div h2 {
    text-align: center;
}

div#contact1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

    margin-top: 25px;

    background-color: #78807d;
}

div#contact1 img {
    width: 100%;
}

div#contact1 div#contact1Img {
    width: 30vw;
    transition: width 0.5s ease;
}

div#contact1 div#contact1Img:hover {
    width: 35.4vw;
}

div#contact1 div#contact1Text {
    width: 50vw;

    transition: width 0.5s ease;
}

#contact1Img:hover ~ #contact1Text {
    width: 42vw;
}

div#contact1 div {
    padding: 20px;
}

div#contact1 div h3 {
    text-align: center;
}

div#extra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-top: 25px;

    background-color: #eacfca;
}

div#extra img {
    width: 100%;
}

div#extra div#extraImg {
    width: 30vw;
    transition: width 0.5s ease;
}

div#extra div#extraImg:hover {
    width: 35.4vw;
}

div#extra div#extraText {
    text-align: center;
    width: 50vw;
    font-size: 20px;

    transition: width 0.5s ease;
}

#extraImg:hover ~ #extraText {
    width: 42vw;
}

div#extra div {
    padding: 20px;
}

div#affilation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 25px;

    background-color: #8a766c;
}

div#affilation img {
    width: 100%;
}

div#affilation div#affilationImg {
    width: 30vw;
    transition: width 0.5s ease;
}

div#affilation div#affilationImg:hover {
    width: 35.4vw;
}

div#affilation div#affilationText {
    text-align: center;
    width: 50vw;

    transition: width 0.5s ease;
}

div#affilation div#affilationText img {
    width: 25vw;
    transition: width 0.5s ease;
}

div#affilation div#affilationText img:hover {
    width: 35.4vw;
}

#affilationImg:hover ~ #affilationText {
    width: 42vw;
}

div#affilation div {
    padding: 20px;
}



@media screen and (max-width: 1000px) {
    div#welcome div#imageHolder {
        width: 75vw;
        height: 50vw;
    }

    div#about div#aboutImg {
        width: 95vw;
    }

    div#about div#aboutText {
        width: auto;
    }

    div#service div#serviceImg {
        width: 95vw;
    }

    div#service div#serviceText {
        width: auto;
    }

    div#contact div#contactImg {
        width: 95vw;
    }

    div#contact div#contactText {
        width: auto;
    }

    div#contact1 div#contact1Img {
        width: 95vw;
    }

    div#contact1 div#contact1Text {
        width: auto;
    }

    div#extra div#extraImg {
        width: 95vw;
    }

    div#extra div#extraText {
        width: auto;
    }


    div#affilation div#affilationText {
        width: auto;
    }


}
